{% extends 'basejefe.html' %}
{% load static %}

{% block content %}

<div class="animate__animated p-6" :class="[$store.app.animation]">
    <!-- start main content section -->
    <div x-data="invoicePreview">
        <div class="mb-6 flex flex-wrap items-center justify-center gap-4 lg:justify-end">
          <a href="/dictamenjefe/">
            
        <button type="button" class="rounded-lg py-2 px-4 text-center text-white bg-blue-700 hover:bg-blue-300" >
              
            Dictamenes
        </button></a>  

            <!-- <button type="button" class="btn btn-primary gap-2" @click="print">
             
                Imprimir
            </button> -->
            <!-- <form action="{% url 'complete_dic' dictamen.id %}" method="POST">
                {% csrf_token %}
            <button class="btn btn-info">
              
                Enviar al Archivos
            </button> -->
        </form>

        <!-- <form action="{% url 'complete_dic' dictamen.id %}" method="POST">
            {% csrf_token %}
        <button class="btn btn-danger">
          
            Eliminar
        </button> -->
    </form>
          
          


        </div>
        <div class="panel">
            <div class="flex flex-wrap justify-between gap-4 px-4">

                
            <div class="px-4 ">
                <div class="mt-6 space-y-1 text-dark ltr:ml-auto rtl:mr-auto items-center">
                    <div class="col-md-12 ">
                        <img src="{% static 'img/Logo Congreso2.png' %}" class="img-responsive" alt="titulo"/>
                        <div class="h-30"></div> <br>
                    </div>
                    <div style="text-align: right;">Nombre:  <b>{{dictamen.Nombre}}</b></div>
                    <div style="text-align: right;">Oficina:  <b>{{dictamen.Oficina}}</b></div>
                    <div style="text-align: right;">Dirección:  <b>{{dictamen.Direccion}}</b></div>
                    <div style="text-align: right;">Fecha de Creación:  <b>{{dictamen.Creacion}}</b></div>
                    <div style="text-align: right;">Correlativo: <b>DIC-UT-{{dictamen.id}}</b> <b></b></div>
                  
                    
                </div>
                <div class="text-black"style="text-align: right;">Dictamen Creado Por El Usuario:</div>
                <p class="font-semibold text-black dark:text-white" style="text-align: right;"><b>{{dictamen.user}}</p>
                </div>
                    <div class="text-black">Comentario de la Dirección:</div>
                    <p class="font-semibold text-blue-600 dark:text-white " ><b>{{dictamen.Comentario}}</p>

                <div class="text-black">Comentario del Jefe:</div>
                <p class="font-semibold text-orange-500 dark:text-white"><b>{{dictamen.Comentariojefe}}</p>
            

            <hr class="my-6 border-[#e0e6ed] dark:border-[#1b2e4b]" />
            <div class="flex flex-col flex-wrap justify-between gap-6 lg:flex-row">
                <div class="flex-1">
                    <div class="space-y-1 text-black">
                        <div>Equipo:</div>
                        <div class="font-semibold text-black dark:text-white">{{dictamen.Tipo_Equipo}}</div>
                        <div>Marca:</div>
                        <div class="font-semibold text-black dark:text-white">{{dictamen.Marca}}</div>
                        <div>Modelo:</div>
                        <div class="font-semibold text-black dark:text-white">{{dictamen.Modelo}}</div>
                        <div>Numero de Serie:</div>
                        <div class="font-semibold text-black dark:text-white">{{dictamen.Num_Serie}}</div>
                    </div>
                    
                </div>
                <div class="flex-1">
                    <div class="space-y-1 text-black">
                        <div>Caracteristicas:</div>
                        <div class="font-semibold text-black dark:text-white">{{dictamen.Caracteristicas}}</div>
                        <div>Problema:</div>
                        <div class="font-semibold text-black dark:text-white">{{dictamen.Problema}}</div>
                        <div>Analisis:</div>
                        <div class="font-semibold text-black dark:text-white">{{dictamen.Analisis}}</div>
                        <div>Proceso Realizado:</div>
                        <div class="font-semibold text-black dark:text-white">{{dictamen.Proceso_Realizado}}</div>
                    </div>
                    
                </div>
               
            </div>
            <hr class="my-6 border-[#e0e6ed] dark:border-[#1b2e4b]" />
            <div class="px-4 ">
                <div class="mt-6 space-y-1 text-dark">
                    <div>Dictamen Final: 
                        <br>
                    <b class="font-semibold text-black dark:text-white">{{dictamen.Dictamen_Final}}</b></div>
                  
                </div>
            </div>
          
           
        </div>
    </div>
    <!-- end main content section -->

    <article class="container dark:bg-[#0e1726] bg-white shadow-2xl rounded-2xl p-5 ">

    <form method="POST" class="rounded-lg grid grid-cols-1 gap-y-7 bg-fixed place-content-around">
        {% csrf_token %}
        {{form.as_p}}
        <br>
        <div class="items-center">
        <button class="rounded-lg py-2 px-4 text-center text-white bg-blue-700 hover:bg-blue-300">Guardar Cambios</button>
    </div>
    </form>
</article>
</div>
</div>
</div>







{% endblock %}
