{% extends 'baseadmin.html' %}
{% load static %}

{% block content %}

<div class="animate__animated p-6" :class="[$store.app.animation]">
    <!-- start main content section -->
    <div x-data="invoicePreview">
        <div class="mb-6 flex flex-wrap items-center justify-center gap-4 lg:justify-end">
          <a href="/dictamenadmin/">
            
        <button type="button" class="rounded-lg py-2 px-4 text-center text-white bg-yellow-400 hover:bg-yellow-500" >
              
            Dictamenes
        </button></a>  

            <!-- <button type="button" class="btn btn-primary gap-2" @click="print">
             
                Imprimir
            </button> -->
            <!-- <form action="{% url 'complete_dic' dictamen.id %}" method="POST">
                {% csrf_token %}
            <button class="btn btn-info">
              
                Enviar al Archivos
            </button> -->
        </form>

        <!-- <form action="{% url 'complete_dic' dictamen.id %}" method="POST">
            {% csrf_token %}
        <button class="btn btn-danger">
          
            Eliminar
        </button> -->
    </form>
          
          


            <!-- <a href="{% url 'editdictamenadmin' dictamen.id %}" class="btn btn-warning gap-2">
               
                Editar
            </a> -->
        </div>
        <div class="panel">
            <div class="flex flex-wrap justify-between gap-4 px-4">
                <div class="text-2xl font-semibold uppercase">{{dictamen.Titulo}} </div>
                
              
                   
            </div>
            <img src="{% static 'img/Logo Congreso2.png' %}" alt="image" class="w-15 ltr:ml-auto rtl:mr-auto" />
            
                
            <div class="px-4 ">
                <div class="mt-6 space-y-1 text-dark">
                   
                    <div>Nombre:  <b>{{dictamen.Nombre}}</b></div>
                    <div>Oficina:  <b>{{dictamen.Oficina}}</b></div>
                    <div>Dirección:  <b>{{dictamen.Direccion}}</b></div>
                    <div>Fecha de Creación:  <b>{{dictamen.Creacion}}</b></div>
                    
                </div>
                <div style="text-align: right;">Dictamen Creado Por El Usuario:</div>
                <p class="font-semibold text-black dark:text-white" style="text-align: right;"><b>{{dictamen.user}}</p>

            <div>Comentario de la Dirección:</div>
            <p class="font-semibold text-blue-600 dark:text-white " ><b>{{dictamen.Comentario}}</p>

        <div>Comentario del Jefe:</div>
        <p class="font-semibold text-orange-500 dark:text-white"><b>{{dictamen.Comentariojefe}}</p>


            

            <hr class="my-6 border-[#e0e6ed] dark:border-[#1b2e4b]" />
            <div class="flex flex-col flex-wrap justify-between gap-6 lg:flex-row">
                <div class="flex-1">
                    <div class="space-y-1 text-white-dark">
                        <div>Equipo:</div>
                        <div class="font-semibold text-black dark:text-white">{{dictamen.Tipo_Equipo}}</div>
                        <div>Marca:</div>
                        <div class="font-semibold text-black dark:text-white">{{dictamen.Marca}}</div>
                        <div>Modelo:</div>
                        <div class="font-semibold text-black dark:text-white">{{dictamen.Modelo}}</div>
                        <div>Numero de Serie:</div>
                        <div class="font-semibold text-black dark:text-white">{{dictamen.Num_Serie}}</div>
                    </div>
                    
                </div>
                <div class="flex-1">
                    <div class="space-y-1 text-white-dark">
                        <div>Caracteristicas:</div>
                        <div class="font-semibold text-black dark:text-white">{{dictamen.Caracteristicas}}</div>
                        <div>Problema:</div>
                        <div class="font-semibold text-black dark:text-white">{{dictamen.Problema}}</div>
                        <div>Analisis:</div>
                        <div class="font-semibold text-black dark:text-white">{{dictamen.Analisis}}</div>
                        <div>Proceso Realizado:</div>
                        <div class="font-semibold text-black dark:text-white">{{dictamen.Proceso_Realizado}}</div>
                    </div>
                    
                </div>
               
            </div>
            <hr class="my-6 border-[#e0e6ed] dark:border-[#1b2e4b]" />
            <div class="px-4 ">
                <div class="mt-6 space-y-1 text-dark">
                    <div>Dictamen Final: 
                        <br>
                    <b class="font-semibold text-black dark:text-white">{{dictamen.Dictamen_Final}}</b></div>
                  
                </div>
            </div>
          
           
        </div>
    </div>
    <!-- end main content section -->
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}


        <button class="rounded-lg py-2 px-4 text-center text-white bg-yellow-400 hover:bg-yellow-500">ACTUALIZAR</button>
        
    </form>
    
</div>







{% endblock %}
