{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="main-container min-h-screen text-black dark:text-white-dark" :class="[$store.app.navbar]">

    <div class="main-content flex flex-col min-h-screen">
      
        <div class="animate__animated p-6" :class="[$store.app.animation]">
            <!-- start main content section -->

            <div x-data="notes">
                <div class="relative flex h-full gap-5 sm:h-[calc(100vh_-_150px)]">
                    <div
                        class="absolute z-10 hidden h-full w-full rounded-md bg-black/60"
                        :class="{ '!block xl:!hidden': isShowNoteMenu }"
                        @click="isShowNoteMenu = !isShowNoteMenu"
                    ></div>
                    <div
                        class="panel absolute z-10 hidden h-full w-[240px] flex-none space-y-4 overflow-hidden p-4 ltr:rounded-r-none rtl:rounded-l-none ltr:lg:rounded-r-md rtl:lg:rounded-l-md xl:relative xl:block xl:h-auto"
                        :class="{ 'hidden shadow': !isShowNoteMenu, 'h-full ltr:left-0 rtl:right-0': isShowNoteMenu }"
                    >
                        <div class="flex h-full flex-col pb-16">
                            <div class="flex items-center text-center">
                                <div class="shrink-0">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5">
                                        <path
                                            d="M20.3116 12.6473L20.8293 10.7154C21.4335 8.46034 21.7356 7.3328 21.5081 6.35703C21.3285 5.58657 20.9244 4.88668 20.347 4.34587C19.6157 3.66095 18.4881 3.35883 16.2331 2.75458C13.978 2.15033 12.8504 1.84821 11.8747 2.07573C11.1042 2.25537 10.4043 2.65945 9.86351 3.23687C9.27709 3.86298 8.97128 4.77957 8.51621 6.44561C8.43979 6.7254 8.35915 7.02633 8.27227 7.35057L8.27222 7.35077L7.75458 9.28263C7.15033 11.5377 6.84821 12.6652 7.07573 13.641C7.25537 14.4115 7.65945 15.1114 8.23687 15.6522C8.96815 16.3371 10.0957 16.6392 12.3508 17.2435L12.3508 17.2435C14.3834 17.7881 15.4999 18.0873 16.415 17.9744C16.5152 17.9621 16.6129 17.9448 16.7092 17.9223C17.4796 17.7427 18.1795 17.3386 18.7203 16.7612C19.4052 16.0299 19.7074 14.9024 20.3116 12.6473Z"
                                            stroke="currentColor"
                                            stroke-width="1.5"
                                        />
                                        <path
                                            opacity="0.5"
                                            d="M16.415 17.9741C16.2065 18.6126 15.8399 19.1902 15.347 19.6519C14.6157 20.3368 13.4881 20.6389 11.2331 21.2432C8.97798 21.8474 7.85044 22.1495 6.87466 21.922C6.10421 21.7424 5.40432 21.3383 4.86351 20.7609C4.17859 20.0296 3.87647 18.9021 3.27222 16.647L2.75458 14.7151C2.15033 12.46 1.84821 11.3325 2.07573 10.3567C2.25537 9.58627 2.65945 8.88638 3.23687 8.34557C3.96815 7.66065 5.09569 7.35853 7.35077 6.75428C7.77741 6.63996 8.16368 6.53646 8.51621 6.44531"
                                            stroke="currentColor"
                                            stroke-width="1.5"
                                        />
                                        <path d="M11.7769 10L16.6065 11.2941" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                                        <path
                                            opacity="0.5"
                                            d="M11 12.8975L13.8978 13.6739"
                                            stroke="currentColor"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                        />
                                    </svg>
                                </div>
                                <h3 class="text-lg font-semibold ltr:ml-3 rtl:mr-3">Dictamenes</h3>
                            </div>
                            <div class="my-4 h-px w-full border-b border-[#e0e6ed] dark:border-[#1b2e4b]"></div>
                            <div class="perfect-scrollbar relative -mr-3.5 h-full grow pr-3.5">
                                <div class="space-y-1">
                                    <button
                                        type="button" onclick="location.href='/dictamenadmin/'"
                                        class="flex h-10 w-full items-center justify-between rounded-md p-2 font-medium hover:bg-white-dark/10 hover:text-primary dark:hover:bg-[#181F32] dark:hover:text-primary"
                                     
                                    >
                                        <div class="flex items-center">
                                            <svg
                                                width="24"
                                                height="24"
                                                viewBox="0 0 24 24"
                                                fill="none"
                                                xmlns="http://www.w3.org/2000/svg"
                                                class="h-5 w-5 shrink-0"
                                            >
                                                <path
                                                    d="M18.18 8.03933L18.6435 7.57589C19.4113 6.80804 20.6563 6.80804 21.4241 7.57589C22.192 8.34374 22.192 9.58868 21.4241 10.3565L20.9607 10.82M18.18 8.03933C18.18 8.03933 18.238 9.02414 19.1069 9.89309C19.9759 10.762 20.9607 10.82 20.9607 10.82M18.18 8.03933L13.9194 12.2999C13.6308 12.5885 13.4865 12.7328 13.3624 12.8919C13.2161 13.0796 13.0906 13.2827 12.9882 13.4975C12.9014 13.6797 12.8368 13.8732 12.7078 14.2604L12.2946 15.5L12.1609 15.901M20.9607 10.82L16.7001 15.0806C16.4115 15.3692 16.2672 15.5135 16.1081 15.6376C15.9204 15.7839 15.7173 15.9094 15.5025 16.0118C15.3203 16.0986 15.1268 16.1632 14.7396 16.2922L13.5 16.7054L13.099 16.8391M13.099 16.8391L12.6979 16.9728C12.5074 17.0363 12.2973 16.9867 12.1553 16.8447C12.0133 16.7027 11.9637 16.4926 12.0272 16.3021L12.1609 15.901M13.099 16.8391L12.1609 15.901"
                                                    stroke="currentColor"
                                                    stroke-width="1.5"
                                                />
                                                <path d="M8 13H10.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                                                <path d="M8 9H14.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                                                <path d="M8 17H9.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                                                <path
                                                    opacity="0.5"
                                                    d="M3 10C3 6.22876 3 4.34315 4.17157 3.17157C5.34315 2 7.22876 2 11 2H13C16.7712 2 18.6569 2 19.8284 3.17157C21 4.34315 21 6.22876 21 10V14C21 17.7712 21 19.6569 19.8284 20.8284C18.6569 22 16.7712 22 13 22H11C7.22876 22 5.34315 22 4.17157 20.8284C3 19.6569 3 17.7712 3 14V10Z"
                                                    stroke="currentColor"
                                                    stroke-width="1.5"
                                                />
                                            </svg>
                                            <div class="ltr:ml-3 rtl:mr-3">Todos</div>
                                        </div>
                                    </button>
                                    <button
                                        type="button"  href="#" class="category_item" category="ordenadores"
                                        class="flex h-10 w-full items-center justify-between rounded-md p-2 font-medium hover:bg-white-dark/10 hover:text-primary dark:hover:bg-[#181F32] dark:hover:text-primary" 
                                        
                                    >
                                        
                                    </button>
                                    <div class="h-px w-full border-b border-[#e0e6ed] dark:border-[#1b2e4b]"></div>
                                    <div class="px-1 py-3 text-white-dark">Selecciona Estado</div>

                                    <button
                                    type="button"
                                    class=" category_item flex h-10 w-full items-center rounded-md p-1 font-medium text-primary duration-300 hover:bg-white-dark/10 ltr:hover:pl-3 rtl:hover:pr-3 dark:hover:bg-[#181F32]" onclick="location.href='/creadoadmin/'"
                                 
                                >
                                <svg
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                                class="h-3 w-3 shrink-0 rotate-45 fill-primary"
                            >
                                <path
                                    d="M2 12C2 7.28595 2 4.92893 3.46447 3.46447C4.92893 2 7.28595 2 12 2C16.714 2 19.0711 2 20.5355 3.46447C22 4.92893 22 7.28595 22 12C22 16.714 22 19.0711 20.5355 20.5355C19.0711 22 16.714 22 12 22C7.28595 22 4.92893 22 3.46447 20.5355C2 19.0711 2 16.714 2 12Z"
                                    stroke="currentColor"
                                    stroke-width="1.5"
                                ></path>
                            </svg>
                            <div class="ltr:ml-3 rtl:mr-3">Creado</div>
                                    
                                </button>

                                    
                                    <button
                                    type="button" 
                                    class=" category_item flex h-10 w-full items-center rounded-md p-1 font-medium text-warning duration-300 hover:bg-white-dark/10 ltr:hover:pl-3 rtl:hover:pr-3 dark:hover:bg-[#181F32]" onclick="location.href='/pendienteadmin/'"
                                      
                                    >
                                        <svg
                                            width="24"
                                            height="24"
                                            viewBox="0 0 24 24"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                            class="h-3 w-3 shrink-0 rotate-45 fill-warning"
                                        >
                                            <path
                                                d="M2 12C2 7.28595 2 4.92893 3.46447 3.46447C4.92893 2 7.28595 2 12 2C16.714 2 19.0711 2 20.5355 3.46447C22 4.92893 22 7.28595 22 12C22 16.714 22 19.0711 20.5355 20.5355C19.0711 22 16.714 22 12 22C7.28595 22 4.92893 22 3.46447 20.5355C2 19.0711 2 16.714 2 12Z"
                                                stroke="currentColor"
                                                stroke-width="1.5"
                                            ></path>
                                        </svg>
                                        <div class="ltr:ml-3 rtl:mr-3">Pendiente</div>
                                    </button>

                                    <button
                                    type="button" onclick="location.href='/imprimiradmin/'"
                                    class=" category_item flex h-10 w-full items-center rounded-md p-1 font-medium text-info duration-300 hover:bg-white-dark/10 ltr:hover:pl-3 rtl:hover:pr-3 dark:hover:bg-[#181F32]"
                                      
                                    >
                                        <svg
                                            width="24"
                                            height="24"
                                            viewBox="0 0 24 24"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                            class="h-3 w-3 shrink-0 rotate-45 fill-info"
                                        >
                                            <path
                                                d="M2 12C2 7.28595 2 4.92893 3.46447 3.46447C4.92893 2 7.28595 2 12 2C16.714 2 19.0711 2 20.5355 3.46447C22 4.92893 22 7.28595 22 12C22 16.714 22 19.0711 20.5355 20.5355C19.0711 22 16.714 22 12 22C7.28595 22 4.92893 22 3.46447 20.5355C2 19.0711 2 16.714 2 12Z"
                                                stroke="currentColor"
                                                stroke-width="1.5"
                                            ></path>
                                        </svg>
                                        <div class="ltr:ml-3 rtl:mr-3">Imprimir</div>
                                    </button>

                                    <button
                                    type="button" onclick="location.href='/finalizadoadmin/'"
                                    class=" category_item flex h-10 w-full items-center rounded-md p-1 font-medium text-danger duration-300 hover:bg-white-dark/10 ltr:hover:pl-3 rtl:hover:pr-3 dark:hover:bg-[#181F32]"
                                      
                                    >
                                        <svg
                                            width="24"
                                            height="24"
                                            viewBox="0 0 24 24"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                            class="h-3 w-3 shrink-0 rotate-45 fill-danger"
                                        >
                                            <path
                                                d="M2 12C2 7.28595 2 4.92893 3.46447 3.46447C4.92893 2 7.28595 2 12 2C16.714 2 19.0711 2 20.5355 3.46447C22 4.92893 22 7.28595 22 12C22 16.714 22 19.0711 20.5355 20.5355C19.0711 22 16.714 22 12 22C7.28595 22 4.92893 22 3.46447 20.5355C2 19.0711 2 16.714 2 12Z"
                                                stroke="currentColor"
                                                stroke-width="1.5"
                                            ></path>
                                        </svg>
                                        <div class="ltr:ml-3 rtl:mr-3">Finalizado</div>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="absolute bottom-0 w-full p-4 ltr:left-0 rtl:right-0">
                            <button type="button" class="btn btn-primary flex" onclick="location.href='/dictamen/create/'">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24px"
                                    height="24px"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="h-5 w-5 ltr:mr-3 rtl:ml-3"
                                    
                                >
                                    <line x1="12" y1="5" x2="12" y2="19"></line>
                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                    
                                </svg>
                                 Crear Dictamen
                            </button>
                        </div>
                    </div>

                    <div class="panel h-full flex-1 overflow-auto">
                        <div class="pb-5">
                            <button type="button" class="hover:text-primary xl:hidden" @click="isShowNoteMenu = !isShowNoteMenu">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6">
                                    <path d="M20 7L4 7" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
                                    <path opacity="0.5" d="M20 12L4 12" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
                                    <path d="M20 17L4 17" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
                                </svg>
                            </button>
                        </div>
                        
                        
                        <div id="container" class="items-center" >
                        {% for dictamen in dictamens %}
                        <section class="products-list">

                        
                       <div class="create-route" href="{% url 'dicdetalle' dictamen.id %}">
                       <div class="product-item" category="laptops">
                        
                                               
                                  
                        <a href="{% url 'dicdetalle' dictamen.id %}">            
                            {% if dictamen.Imprimir %}
                            <strong class="text-info">{{dictamen.Titulo}}</strong>
                            <h3>{{dictamen.Direccion}}</h3>
                            {% endif %}
                        </a>
                        
                                            
                        
                        </div>
                       
                        
                        </div>
            </section>
                {% endfor %}
                    </div>
               
                </div>
                </div>
            
                </div>
            </div>
            <!-- end main content section -->

        </div>

      
    </div>
</div>
<script>
    document.addEventListener('alpine:init', () => {
        // main section
        Alpine.data('scrollToTop', () => ({
            showTopButton: false,
            init() {
                window.onscroll = () => {
                    this.scrollFunction();
                };
            },

            scrollFunction() {
                if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
                    this.showTopButton = true;
                } else {
                    this.showTopButton = false;
                }
            },

            goToTop() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            },
        }));

        // theme customization
        Alpine.data('customizer', () => ({
            showCustomizer: false,
        }));

        // sidebar section
        Alpine.data('sidebar', () => ({
            init() {
                const selector = document.querySelector('.sidebar ul a[href="' + window.location.pathname + '"]');
                if (selector) {
                    selector.classList.add('active');
                    const ul = selector.closest('ul.sub-menu');
                    if (ul) {
                        let ele = ul.closest('li.menu').querySelectorAll('.nav-link');
                        if (ele) {
                            ele = ele[0];
                            setTimeout(() => {
                                ele.click();
                            });
                        }
                    }
                }
            },
        }));

        // header section
        Alpine.data('header', () => ({
            init() {
                const selector = document.querySelector('ul.horizontal-menu a[href="' + window.location.pathname + '"]');
                if (selector) {
                    selector.classList.add('active');
                    const ul = selector.closest('ul.sub-menu');
                    if (ul) {
                        let ele = ul.closest('li.menu').querySelectorAll('.nav-link');
                        if (ele) {
                            ele = ele[0];
                            setTimeout(() => {
                                ele.classList.add('active');
                            });
                        }
                    }
                }
            },

            notifications: [
                {
                    id: 1,
                    profile: 'user-profile.jpeg',
                    message: '<strong class="text-sm mr-1">John Doe</strong>invite you to <strong>Prototyping</strong>',
                    time: '45 min ago',
                },
                {
                    id: 2,
                    profile: 'profile-34.jpeg',
                    message: '<strong class="text-sm mr-1">Adam Nolan</strong>mentioned you to <strong>UX Basics</strong>',
                    time: '9h Ago',
                },
                {
                    id: 3,
                    profile: 'profile-16.jpeg',
                    message: '<strong class="text-sm mr-1">Anna Morgan</strong>Upload a file',
                    time: '9h Ago',
                },
            ],

            messages: [
                {
                    id: 1,
                    image: '<span class="grid place-content-center w-9 h-9 rounded-full bg-success-light dark:bg-success text-success dark:text-success-light"><svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path></svg></span>',
                    title: 'Congratulations!',
                    message: 'Your OS has been updated.',
                    time: '1hr',
                },
                {
                    id: 2,
                    image: '<span class="grid place-content-center w-9 h-9 rounded-full bg-info-light dark:bg-info text-info dark:text-info-light"><svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg></span>',
                    title: 'Did you know?',
                    message: 'You can switch between artboards.',
                    time: '2hr',
                },
                {
                    id: 3,
                    image: '<span class="grid place-content-center w-9 h-9 rounded-full bg-danger-light dark:bg-danger text-danger dark:text-danger-light"><svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></span>',
                    title: 'Something went wrong!',
                    message: 'Send Reposrt',
                    time: '2days',
                },
                {
                    id: 4,
                    image: '<span class="grid place-content-center w-9 h-9 rounded-full bg-warning-light dark:bg-warning text-warning dark:text-warning-light"><svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">    <circle cx="12" cy="12" r="10"></circle>    <line x1="12" y1="8" x2="12" y2="12"></line>    <line x1="12" y1="16" x2="12.01" y2="16"></line></svg></span>',
                    title: 'Warning',
                    message: 'Your password strength is low.',
                    time: '5days',
                },
            ],

            languages: [
                {
                    id: 1,
                    key: 'Chinese',
                    value: 'zh',
                },
                {
                    id: 2,
                    key: 'Danish',
                    value: 'da',
                },
                {
                    id: 3,
                    key: 'English',
                    value: 'en',
                },
                {
                    id: 4,
                    key: 'French',
                    value: 'fr',
                },
                {
                    id: 5,
                    key: 'German',
                    value: 'de',
                },
                {
                    id: 6,
                    key: 'Greek',
                    value: 'el',
                },
                {
                    id: 7,
                    key: 'Hungarian',
                    value: 'hu',
                },
                {
                    id: 8,
                    key: 'Italian',
                    value: 'it',
                },
                {
                    id: 9,
                    key: 'Japanese',
                    value: 'ja',
                },
                {
                    id: 10,
                    key: 'Polish',
                    value: 'pl',
                },
                {
                    id: 11,
                    key: 'Portuguese',
                    value: 'pt',
                },
                {
                    id: 12,
                    key: 'Russian',
                    value: 'ru',
                },
                {
                    id: 13,
                    key: 'Spanish',
                    value: 'es',
                },
                {
                    id: 14,
                    key: 'Swedish',
                    value: 'sv',
                },
                {
                    id: 15,
                    key: 'Turkish',
                    value: 'tr',
                },
                {
                    id: 16,
                    key: 'Arabic',
                    value: 'ae',
                },
            ],

            removeNotification(value) {
                this.notifications = this.notifications.filter((d) => d.id !== value);
            },

            removeMessage(value) {
                this.messages = this.messages.filter((d) => d.id !== value);
            },
        }));
        //notes
        Alpine.data('notes', () => ({
            defaultParams: {
                id: null,
                title: '',
                description: '',
                tag: '',
                user: '',
                thumb: '',
            },
            isAddNoteModal: false,
            isDeleteNoteModal: false,
            isViewNoteModal: false,
            params: {
                id: null,
                title: '',
                description: '',
                tag: '',
                user: '',
                thumb: '',
            },
            isShowNoteMenu: false,
            notesList: [
                {
                    id: 1,
                    user: 'Max Smith',
                    thumb: 'profile-16.jpeg',
                    title: 'Meeting with Kelly',
                    description: 'Curabitur facilisis vel elit sed dapibus sodales purus rhoncus.',
                    date: '11/01/2020',
                    isFav: false,
                    tag: 'personal',
                },
                {
                    id: 2,
                    user: 'John Doe',
                    thumb: 'profile-14.jpeg',
                    title: 'Receive Package',
                    description: 'Facilisis curabitur facilisis vel elit sed dapibus sodales purus.',
                    date: '11/02/2020',
                    isFav: true,
                    tag: '',
                },
                {
                    id: 3,
                    user: 'Kia Jain',
                    thumb: 'profile-15.jpeg',
                    title: 'Download Docs',
                    description: 'Proin a dui malesuada, laoreet mi vel, imperdiet diam quam laoreet.',
                    date: '11/04/2020',
                    isFav: false,
                    tag: 'work',
                },
                {
                    id: 4,
                    user: 'Max Smith',
                    thumb: 'profile-16.jpeg',
                    title: 'Meeting at 4:50pm',
                    description: 'Excepteur sint occaecat cupidatat non proident, anim id est laborum.',
                    date: '11/08/2020',
                    isFav: false,
                    tag: '',
                },
                {
                    id: 5,
                    user: 'Karena Courtliff',
                    thumb: 'profile-17.jpeg',
                    title: 'Backup Files EOD',
                    description: 'Maecenas condimentum neque mollis, egestas leo ut, gravida.',
                    date: '11/09/2020',
                    isFav: false,
                    tag: '',
                },
                {
                    id: 6,
                    user: 'Max Smith',
                    thumb: 'profile-16.jpeg',
                    title: 'Download Server Logs',
                    description: 'Suspendisse efficitur diam quis gravida. Nunc molestie est eros.',
                    date: '11/09/2020',
                    isFav: false,
                    tag: 'social',
                },
                {
                    id: 7,
                    user: 'Vladamir Koschek',
                    thumb: '',
                    title: 'Team meet at Starbucks',
                    description: 'Etiam a odio eget enim aliquet laoreet lobortis sed ornare nibh.',
                    date: '11/10/2020',
                    isFav: false,
                    tag: '',
                },
                {
                    id: 8,
                    user: 'Max Smith',
                    thumb: 'profile-16.jpeg',
                    title: 'Create new users Profile',
                    description: 'Duis aute irure in nulla pariatur. Etiam a odio eget enim aliquet.',
                    date: '11/11/2020',
                    isFav: false,
                    tag: 'important',
                },
                {
                    id: 9,
                    user: 'Robert Garcia',
                    thumb: 'profile-21.jpeg',
                    title: 'Create a compost pile',
                    description: 'Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro.',
                    date: '11/12/2020',
                    isFav: true,
                    tag: '',
                },
                {
                    id: 10,
                    user: 'Marie Hamilton',
                    thumb: 'profile-2.jpeg',
                    title: 'Take a hike at a local park',
                    description: 'De carne lumbering animata corpora quaeritis. Summus brains sit',
                    date: '11/13/2020',
                    isFav: true,
                    tag: '',
                },
                {
                    id: 11,
                    user: 'Megan Meyers',
                    thumb: 'profile-1.jpeg',
                    title: 'Take a class at local community center that interests you',
                    description: 'Cupcake ipsum dolor. Sit amet marshmallow topping cheesecake muffin.',
                    date: '11/13/2020',
                    isFav: false,
                    tag: '',
                },
                {
                    id: 12,
                    user: 'Angela Hull',
                    thumb: 'profile-22.jpeg',
                    title: 'Research a topic interested in',
                    description: 'Lemon drops tootsie roll marshmallow halvah carrot cake.',
                    date: '11/14/2020',
                    isFav: false,
                    tag: '',
                },
                {
                    id: 13,
                    user: 'Karen Wolf',
                    thumb: 'profile-23.jpeg',
                    title: 'Plan a trip to another country',
                    description: 'Space, the final frontier. These are the voyages of the Starship Enterprise.',
                    date: '11/16/2020',
                    isFav: true,
                    tag: '',
                },
                {
                    id: 14,
                    user: 'Jasmine Barnes',
                    thumb: 'profile-1.jpeg',
                    title: 'Improve touch typing',
                    description: 'Well, the way they make shows is, they make one show.',
                    date: '11/16/2020',
                    isFav: false,
                    tag: '',
                },
                {
                    id: 15,
                    user: 'Thomas Cox',
                    thumb: 'profile-11.jpeg',
                    title: 'Learn Express.js',
                    description: 'Bulbasaur Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
                    date: '11/17/2020',
                    isFav: false,
                    tag: 'work',
                },
                {
                    id: 16,
                    user: 'Marcus Jones',
                    thumb: 'profile-12.jpeg',
                    title: 'Learn calligraphy',
                    description: 'Ivysaur Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
                    date: '11/17/2020',
                    isFav: false,
                    tag: '',
                },
                {
                    id: 17,
                    user: 'Matthew Gray',
                    thumb: 'profile-24.jpeg',
                    title: 'Have a photo session with some friends',
                    description: 'Venusaur Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
                    date: '11/18/2020',
                    isFav: false,
                    tag: 'important',
                },
                {
                    id: 18,
                    user: 'Chad Davis',
                    thumb: 'profile-31.jpeg',
                    title: 'Go to the gym',
                    description: 'Charmander Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
                    date: '11/18/2020',
                    isFav: false,
                    tag: '',
                },
                {
                    id: 19,
                    user: 'Linda Drake',
                    thumb: 'profile-23.jpeg',
                    title: 'Make own LEGO creation',
                    description: 'Charmeleon Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
                    date: '11/18/2020',
                    isFav: false,
                    tag: 'social',
                },
                {
                    id: 20,
                    user: 'Kathleen Flores',
                    thumb: 'profile-34.jpeg',
                    title: 'Take cat on a walk',
                    description: 'Baseball ipsum dolor sit amet cellar rubber win hack tossed. ',
                    date: '11/18/2020',
                    isFav: false,
                    tag: 'personal',
                },
            ],
            filterdNotesList: '',
            selectedTab: 'all',
            deletedNote: null,
            selectedNote: {
                id: null,
                title: '',
                description: '',
                tag: '',
                user: '',
                thumb: '',
            },

            init() {
                this.searchNotes();
            },

            searchNotes() {
                if (this.selectedTab != 'fav') {
                    if (this.selectedTab != 'all' || this.selectedTab === 'delete') {
                        this.filterdNotesList = this.notesList.filter((d) => d.tag === this.selectedTab);
                    } else {
                        this.filterdNotesList = this.notesList;
                    }
                } else {
                    this.filterdNotesList = this.notesList.filter((d) => d.isFav);
                }
            },

            saveNote() {
                if (!this.params.title) {
                    this.showMessage('Title is required.', 'error');
                    return false;
                }
                if (this.params.id) {
                    //update task
                    let note = this.notesList.find((d) => d.id === this.params.id);
                    note.title = this.params.title;
                    note.user = this.params.user;
                    note.description = this.params.description;
                    note.tag = this.params.tag;
                } else {
                    //add note
                    let maxNoteId = this.notesList.length
                        ? this.notesList.reduce((max, character) => (character.id > max ? character.id : max), this.notesList[0].id)
                        : 0;
                    if (!maxNoteId) {
                        maxNoteId = 0;
                    }
                    let dt = new Date();
                    let note = {
                        id: maxNoteId + 1,
                        title: this.params.title,
                        user: this.params.user,
                        thumb: 'profile-21.jpeg',
                        description: this.params.description,
                        date: dt.getDate() + '/' + Number(dt.getMonth()) + 1 + '/' + dt.getFullYear(),
                        isFav: false,
                        tag: this.params.tag,
                    };
                    this.notesList.splice(0, 0, note);
                    this.searchNotes();
                }

                this.showMessage('Note has been saved successfully.');
                this.isAddNoteModal = false;
                this.searchNotes();
            },

            tabChanged(type) {
                this.selectedTab = type;
                this.searchNotes();
                this.isShowNoteMenu = false;
            },

            setFav(note) {
                let item = this.filterdNotesList.find((d) => d.id === note.id);
                item.isFav = !item.isFav;
                this.searchNotes();
            },

            setTag(note, name) {
                let item = this.filterdNotesList.find((d) => d.id === note.id);
                item.tag = name;
                this.searchNotes();
            },

            deleteNoteConfirm(note) {
                setTimeout(() => {
                    this.deletedNote = note;
                    this.isDeleteNoteModal = true;
                });
            },

            viewNote(note) {
                setTimeout(() => {
                    this.selectedNote = note;
                    this.isViewNoteModal = true;
                });
            },

            editNote(note) {
                this.isShowNoteMenu = false;
                setTimeout(() => {
                    this.params = JSON.parse(JSON.stringify(this.defaultParams));
                    if (note) {
                        this.params = JSON.parse(JSON.stringify(note));
                    }
                    this.isAddNoteModal = true;
                });
            },

            deleteNote() {
                this.notesList = this.notesList.filter((d) => d.id != this.deletedNote.id);
                this.searchNotes();
                this.showMessage('Note has been deleted successfully.');
                this.isDeleteNoteModal = false;
            },

            showMessage(msg = '', type = 'success') {
                const toast = window.Swal.mixin({
                    toast: true,
                    position: 'top',
                    showConfirmButton: false,
                    timer: 3000,
                });
                toast.fire({
                    icon: type,
                    title: msg,
                    padding: '10px 20px',
                });
            },
        }));
    });
</script>



<style>
     #container {
  display: flex;
  grid-auto-columns: auto;
  flex-direction:row;
  flex-wrap: wrap;
  height: 208px;
  align-content: center;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  align-content: flex-start;
}

.create-route {
  width: 200px;
  height: auto;
 
  box-shadow:  0 1px #7781e0, 0 0 2px #6b6be9;
  border-radius: 6px;
  text-align: center;
  font-weight: bold;
  margin: 10px 10px;
  }

</style>


{% endblock %}
