{% extends 'base.html' %}
{% load static %}

{% block content %}
 <div class="py-5">
<article class="container dark:bg-[#0e1726] bg-white shadow-2xl rounded-2xl p-5 ">

    <form method="POST" class="rounded-lg grid grid-cols-1 gap-y-7 bg-fixed place-content-around" enctype="multipart/form-data">
        {% csrf_token %}
        {{form}}
     
      
        <div class="items-center">
        <button class="rounded-lg py-2 px-4 text-center text-white bg-yellow-400 hover:bg-yellow-500">Guardar Cambios</button>
    </div>
    </form>
</article>
</div>


<!-- <form action="/dictamen/" method="POST" class="DictamenForm">
        {% csrf_token %}
<div class="animate__animated p-6" >
    <!-- start main content section -->
    <!-- <div class="mb-6 flex flex-wrap items-center justify-center gap-4 lg:justify-end">
        <a href="/dictamen/"><button type="button" class="btn btn-info gap-2" >
            
          Dictamenes
      </button></a>  

          <button type="button" class="btn btn-primary gap-2" @click="print">
           
              Imprimir
          </button>

          <button type="button" class="btn btn-success gap-2">
            
              Enviar al Archivo
          </button>

          <a href="apps-invoice-add.html" class="btn btn-secondary gap-2">
            
              Eliminar
          </a>

          <a href="{% url 'editdictamen' dictamen.id %}" class="btn btn-warning gap-2">
             
              Editar
          </a>
      </div>
    <div >
       
        <div class="flex flex-col gap-2.5 xl:flex-row">
            <div class="panel flex-1 px-0 py-6 ltr:lg:mr-6 rtl:lg:ml-6">
                <div class="flex flex-wrap justify-between px-4">
                    <div class="mb-6 w-full lg:w-1/2">
                        <div class="flex shrink-0 items-center text-black dark:text-white">
                            <img src="{% static 'img/Logo Congreso2.png' %}" alt="image" class="w-15" />
                        </div>
                        <div class="mt-6 space-y-1 text-gray-500 dark:text-gray-400">
                         
                          
                        </div>
                        
                        
                    </div>
                                         
                    <div class="w-full lg:w-1/2 lg:max-w-fit">
                        
                        <div class="flex items-center">
                            <label for="titulo" class="mb-0 flex-1 ltr:mr-2 rtl:ml-2">Titulo Dictamen:</label>
                            
                            <input class="form-input w-2/3 lg:w-[250px]" type="text" name="Titulo" value="{{dictamen.Titulo}}" maxlength="80" required="" id="id_Titulo">
                        </div>
                        
                        <div class="mt-4 flex items-center">
                            <label for="nombre" class="mb-0 flex-1 ltr:mr-2 rtl:ml-2">Nombre Responsable:</label>
                            <input
                                id="id_Nombre"
                                type="text"
                                name="Nombre"
                                class="form-input w-2/3 lg:w-[250px]"
                                
                            value="{{dictamen.Nombre}}"
                            />
                        </div>
                        <div class="mt-4 flex items-center">
                            <label for="oficina" class="mb-0 flex-1 ltr:mr-2 rtl:ml-2">Oficina:</label>
                            <input
                                id="id_Oficina"
                                type="text"
                                name="Oficina"
                                class="form-input w-2/3 lg:w-[250px]"
                                
                            value="{{dictamen.Oficina}}"
                            />
                        </div>
                        <div class="mt-4 flex items-center">
                            <label for="direccion" class="mb-0 flex-1 ltr:mr-2 rtl:ml-2">Direccion:</label>
                            <input
                                id="id_Direccion"
                                type="text"
                                name="Direccion"
                                class="form-input w-2/3 lg:w-[250px]"
                                
                            value="{{dictamen.Direccion}}"
                            />
                        </div>
                    </div>
                
                </div>
                <hr class="my-6 border-[#e0e6ed] dark:border-[#1b2e4b]" />
                <div class="mt-8 px-4">
                    <div class="flex flex-col justify-between lg:flex-row">
                        <div class="mb-6 w-full lg:w-1/2 ltr:lg:mr-6 rtl:lg:ml-6">
                            <div class="text-lg font-semibold">Información del Equipo: </div>
                            <div class="mt-4 flex items-center">
                                <label for="tipo" class="mb-0 flex-1 ltr:mr-2 rtl:ml-2">Tipo de Equipo:</label>
                                <input
                                    id="id_Tipo_Equipo"
                                    type="text"
                                    name="Tipo_Equipo"
                                    class="form-input w-2/3 lg:w-[250px]"
                                    
                                value="{{dictamen.Tipo_Equipo}}"
                                />
                            </div>
                            <div class="mt-4 flex items-center">
                                <label for="marca" class="mb-0 flex-1 ltr:mr-2 rtl:ml-2">Marca:</label>
                                <input
                                    id="id_Marca"
                                    type="text"
                                    name="Marca"
                                    class="form-input w-2/3 lg:w-[250px]"
                                    
                                value="{{dictamen.Marca}}"
                                />
                            </div>
                          
                        </div>
                        <div class="w-full lg:w-1/2">
                            <div class="text-lg font-semibold">          </div><br>
                            <div class="mt-4 flex items-center">
                                <label for="modelo" class="mb-0 flex-1 ltr:mr-2 rtl:ml-2">Modelo:</label>
                            <input
                                id="id_Modelo"
                                type="text"
                                name="Modelo"
                                class="form-input w-2/3 lg:w-[250px]"
                                
                            value="{{dictamen.Modelo}}"
                            />
                            </div>
                            <div class="mt-4 flex items-center">
                                <label for="num_serie" class="mb-0 flex-1 ltr:mr-2 rtl:ml-2">Número de Serie:</label>
                                <input
                                    id="id_Num_Serie"
                                    type="text"
                                    name="Num_Serie"
                                    class="form-input w-2/3 lg:w-[250px]"
                                    
                                value="{{dictamen.Num_Serie}}"
                                />
                            </div>
                           
                            <div class="mt-4 flex items-center">
                               
                            </div>
                        </div>
                    </div>
                </div>
              
                <div class="mt-8 px-4">
                    <div>
                        <label for="problema">Problema:</label>
                        <input
                        id="id_Problema"
                        type="text"
                        name="Problema"
                        class="form-input w-2/3 lg:w-[800px]"
                        
                    value="{{dictamen.Problema}}"
                    />
                    </div>
                    <div>
                        <label for="analisis">Analisis:</label>
                        <input
                        id="id_Analisis"
                        type="text"
                        name="Analisis"
                        class="form-input w-2/3 lg:w-[800px]"
                        
                    value="{{dictamen.Analisis}}"
                    />
                    </div>
                    <div>
                        <label for="proceso_realizado">Proceso Realizado para el diagnostico:</label>
                        <input
                        id="id_Proceso_Realizado"
                        type="text"
                        name="Proceso_Realizado"
                        class="form-input w-2/3 lg:w-[800px]"
                        
                    value="{{dictamen.Proceso_Realizado}}"
                    />
                    </div>
                    <div>
                        <label for="dictamen_final">Dictamen Final:</label>
                        <input
                        id="id_Dictamen_Final"
                        type="text"
                        name="Dictamen_Final"
                        class="form-input w-2/3 lg:w-[800px]"
                        
                    value="{{dictamen.Dictamen_Final}}"
                    />
                    
                    </div>
                  
                </div>
            </div>
            <div class="mt-6 w-full xl:mt-0 xl:w-96">
                <div class="panel mb-5">
                  
                    
                    <div class="mt-4">
                        <div>
                            <label for="caracteristicas">Caracteristicas: </label>
                            <input
                                id="id_Caracteristicas"
                                type="text"
                                name="Caracteristicas"
                                class="form-input w-2/3 lg:w-[250px]"
                                value="{{dictamen.Caracteristicas}}"
                                
                            />
                        </div>
                    </div>
                    
                    
                </div>
                <div class="panel">
                    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-4 xl:grid-cols-1">
                        
                        <button type="button" class="btn btn-primary w-full gap-2">
                            
                            <input
                            id="id_Creado"
                            type="checkbox"
                            name="Creado"
                            class="checkbox"
                            
                        value="{{dictamen.Creado}}"
                        / >
                                Creado
                            </button>

                        <button type="button" class="btn btn-warning w-full gap-2">
                            
                        <input
                        id="id_Pendiente"
                        type="checkbox"
                        name="Pendiente"
                        class="checkbox"
                        
                    value="{{dictamen.Pendiente}}"
                    />
                            Pendiente
                        </button>

                        <button type="button" class="btn btn-info w-full gap-2">
                            
                            <input
                            id="Imprimir"
                            type="checkbox"
                            name="Imprimir"
                            class="checkbox"
                            
                        value="{{dictamen.Imprimir}}"
                        />
                                Imprimir
                            </button>
                            <button type="button" class="btn btn-danger w-full gap-2">
                            
                                <input
                                id="id_Finalizado"
                                type="checkbox"
                                name="Finalizado"
                                class="checkbox"
                                
                            value="{{dictamen.Finalizado}}"
                            />
                                    Finalizado
                                </button>
                    </div>
                </div>
            </div>
        </div>
        <button>Actualizar</button> 
      
    </div>
    <!-- end main content section -->




<!-- </div>

</form> -->






{% endblock %}
